/* Importación de los estilos generales */
@import url("../css/menu.css");
@import url("../css/main.css");

/* CELULARES */
/* CONTENIDO: Contenedor principal con las secciones y el pie de página*/
main {
    position: relative;
    top: 15vh;
}

main p {
    color: var(--azul-medio);
}

html {
    scroll-padding-top: 16vh;
}

/*Ajuste del icono de hamburguesa*/
#btnMostrar, #btnOcultar {
    padding: 22px 24px;
    text-align: center;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* QUITA ESTILOS A LOS ENLACES */
a:active {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/* PRESENTACIÓN: Contiene el mensaje clave de la empresa*/
#presentacion {
    width: 100vw;
    height: 28vh;
    padding: 5% 1%;
    background-image: radial-gradient(circle, rgba(35, 41, 69, 0.4) 10%, rgba(29, 36, 68, 0.7) 30%), url("../img/presentacion.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#presentacion h1 {
    width: 50%;
    background: none;
    color: var(--azul-medio);
    text-align: right;
    font-size: 25px;
    margin-left: 45%;
    margin-top: 5%;
    line-height: 1.2;

}

#origen {
    width: 100vw;
    padding: 5%;
}

#origen h1 {
    text-align: center;
}

#origen p {
    color: var(--azul-oscuro);
    padding: 40px;
    border-top: 1px solid var(--azul-medio);
}

/* VISION-MISION: Contiene la visión y la misión */
#vision-mision {
    width: 80vw;
    padding: 2% 5% 10% 5%;
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 20px;
    margin: 0 auto;
}

#vision-mision article {
    margin-top: 0;
    padding: 0;
    background: none;
    background-color: var(--verde-lima);
    border-radius: 10px;
    width: 95%;
    justify-content: space-between;
    height: auto;
    flex: 1;
    overflow: auto;
    box-shadow: 1px 5px 8px 0px rgba(11, 50, 94, 0.5), 0px 6px 39px 1px rgba(0, 0, 0, 0.1);

}

#vision-mision article:hover {
    transform: scale(1.06);

}

#vision-mision p {
    background: none;
    color: var(--azul-oscuro);
    padding: 20px;

}

#vision h2,
#mision h2 {
    padding-top: 20px;
    color: var(--azul-encendido);
}

#vision-mision i {
    font-size: 4em;
    background-color: transparent;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px 0px;
    color: var(--blanco-primario);

}

/* EQUIPO: mosaico con la información e imagenes del equipo Nort3 */
#equipo {
    padding: 0px 0px 20px 0px;

}

#equipo h1 {
    border-bottom: 1px solid var(--azul-medio);

}

#mosaico {
    background-color: var(--azul-medio);
    padding-bottom: 50px;
    width: 100%;


}

#mosaico h1,
#mosaico article,
#mosaico div,
#mosaico h3,
#mosaico a,
#vision-mision h2 {
    margin-top: 0;
    padding: 5px 0px 0px 0px;
    background: none;
    background-color: transparent;
    text-align: center;
}

#mosaico div a {
    text-decoration: none;
}

#mosaico-izquierda {
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 2px solid #232945;
}

#mosaico-derecha {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 6px;
    gap: 5px;
    justify-content: space-evenly;
}

.imagen-letra img {
    max-height: 150px;
    transition: transform 0.5s ease;
}

#mosaico-derecha img:hover {
    transform: scale(1.05)
}

#informacion-mosaico {
    padding: 25px;
    text-align: center;
}

#informacion-mosaico p {
    color: var(--azul-oscuro);
    padding: 15px;
    margin: 15px auto;
    text-align: left;
    border: 1px solid var(--gris-fondos);
    border-radius: 5px;
}

#informacion-mosaico p::first-letter {
    font-weight: bolder;
}


/* TABLETS */
@media screen and (min-width:481px) and (max-width:768px) {
  
    #presentacion h1 {
        font-size: 25px;
        margin-top: 7%;

    }

    #vision-mision article {
        width: 45%;
        height: auto;
        min-height: 300px;

    }

    #vision-mision {
        padding: 0px 10px 50px 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: auto;
        justify-content: space-evenly;

    }

    #vision-mision article:hover {
        transform: scale(1.05);

    }

}

/* COMPUTADORAS */
@media screen and (min-width:769px) {
    
    #presentacion {
        height: 35vh;
        padding: 3% 5%;

    }

    #presentacion h1 {
        font-size: 30px;
        width: 45%;
        margin-left: 50%;
        margin-top: 2%;
    }

    #origen {
        padding: 3% 5%;
    }

    #origen h1 {
        font-size: 32px;
    }

    #origen p {
        margin: 0 auto;
        width: 80%;
        font-size: 18px;
    }

    #vision-mision {
        padding: 0% 4% 5% 4%;
        height: auto;
        gap: 30px;
        flex-direction: row;
    }

    #vision-mision article {
        width: 80%;
        height: 40%;
        min-height: 200px;
    }

    #vision-mision h2 {
        font-size: 24px;
    }

    #vision-mision p {
        font-size: 16px;
    }

    #mosaico {
        padding: 40px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

    }

    #mosaico-izquierda {
        border-bottom: 0px;
        border-right: 2px solid #232945;
        color: var(--blanco-primario);
        position: relative;
        width: 6%;
        width: 60px;

    }

    #mosaico-izquierda h1 {
        font-size: 28px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(-270deg);
        transform-origin: center;
        margin: 0;
        white-space: nowrap;
    }

    #mosaico-derecha {
        gap: 60px;
        align-items: center;

    }

    .imagen-letra img {
        max-height: 180px;
    }

    #informacion-mosaico p {
        font-size: 18px;
    }

    #mosaico-derecha img:hover {
        transform: scale(1.25)
    }

    #informacion-mosaico {
        width: 70%;
        margin: 0 auto;
    }

}