/*Hoja de estilo para pagina de contactos*/

/*ESTILO GENERAL CONTACTO*/

label[name="empresa"], input[type="radio"], section.empresa p{
    display: none;
}

label{
    padding: 0 0 15px 7px;
}
article{
    background: var(--gris-fondos);
}


h1{
   background: var(--azul-oscuro);
   color: var(--blanco-primario);
   padding: 0;
   margin: 0 auto;
   border-radius: 20px 20px 0 0 ;
   text-align: center;
}
h2{
    text-align: center;
    background: var(--azul-oscuro);
    color: var(--blanco-primario);
    font-weight: 400;
    margin: 0 auto;
    padding: 0 20px;
    z-index: 10;
    position: relative;
    bottom: 0.5px;
}
form{
    padding: 30px;
    border-radius: 0 0 20px 20px ;
}
form section{
    width: 100%;
    margin: 0 auto;
}
input[type="text"],textarea,input[type="email"], select, select option{
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    font-family: montserrat, sans-serif;
    font-size: 1rem;
}
select, textarea{
    border-width: 2px;
    border-style: inset;
}

input[type="text"]:focus,textarea:focus,input[type="email"]:focus, select:focus{
    border-color: var(--verde-lima);
    outline: none;
    box-shadow: 0 0 6px var(--gris-fondos);
}

#contador{
    position : relative;
    color: var(--azul-oscuro);
    background: none;
    font-size: 0.85rem;
    pointer-events: none;
}

#contador.limite-alcanzado{
    color: red;
    font-weight: bolder;
}


/*MOVILES*/
@media screen and (max-width: 480px){
    h1{
        font-size: 3rem;
        text-align: center;
        border-radius: 0;
    }
    h2{
    text-align: center;
    font-size: 2rem;
    padding-bottom: 20px;
}
form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    border-radius: 0px;
}
form section{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form section label, form section input, form p{
    font-size: 1.2rem;
    color: var(--azul-oscuro);
}

input[type="submit"]{
    font-size: large;
    width: 80px;
}

textarea, select, select option{
    color: var(--azul-oscuro);
}

#contador{
    padding-left: 85%;
    
}
}
/*TABLETS*/
@media screen and (min-width: 481px) and (max-width: 768px){
    article{
        padding: 60px;
    }
    
    h1{
        font-size: 3rem;
        text-align: center;
    }
    h2{
    text-align: center;
    font-size: 2rem;
    padding-bottom: 20px;
}
form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
}
form section{
    padding: 10px;
}

form section label, form section input, form p{
    font-size: 1.2rem;
    color: var(--azul-oscuro);
}

input[type="submit"]{
    font-size: large;
    width: 80px;
}

textarea, select, select option{
    color: var(--azul-oscuro);
}

#contador{
    padding-left: 88%;
}
}
/*PC*/
@media screen and (min-width: 769px){

    article{
        padding: 100px;
    }
      h1{
        font-size: 3.5rem;
        text-align: center;
        width: 60%;
        margin: 0 auto;
    }
    h2{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 20px;
}
form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 60%;
}
form section{
    margin: 0 auto;
    padding: 10px ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;;
}


input[type="submit"]{
    font-size: 1.5rem;
    width: 100px;
}

input[type="text"], input[type="email"], textarea, select, select option{
    font-size: 1.2rem;
    color: var(--azul-oscuro);
}
label{
    padding: 0 0 5px 7px;
    font-size: 1.2rem;
    color: var(--azul-oscuro);
}

#contador{
    padding-left: 90%;
}

}