/* Importación de los estilos generales */
@import url("../css/main.css");
@import url("../css/menu.css");

/* CONTENIDO: Contenedor principal con contendor de la galeria y pie de página */
#contenido {
    margin: 15vh 0px 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contenido > h2 {
    font-size: 3rem;
    align-self: flex-start;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 1.5%;
}

/* ANUNCIOS: Encabezado de página que muestra avisos */
.anuncios {
    border: solid 1px var(--gris-fondos);
    border-radius: 15px;
    display: block;
    width: 80%;
    justify-content: center;
    overflow: hidden;
}

.anuncios article{
    margin: 1%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgba(35, 41, 69, 0.7) 30%, rgba(29, 36, 68, 0.9) 70%), url("../img/comunidad.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 25%;
    height: 50vh;
}

.anuncios h3 {
    background: none;
    font-size: 6vh;
    text-align: center;
    color: var(--azul-medio);
}

.anuncios .btn {
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    margin: 20px;
    padding: 8px 25px 13px;
    font-size: 3vh;
    background-color: var(--verde-lima);
    border-radius: 10px;
    box-shadow: 2px 5px 16px 0px #0B325E, 0px 6px 39px 1px rgba(0,0,0,0);
}

.anuncios .btn:hover {
    scale: 1.15;
    color: var(--verde-lima);
    background-color: var(--azul-oscuro);
}

/* GALERIA: Agrupa al título de la página y el contendor de las cajas */

#galeria {
    width: 80vw;
    display: block;
    box-sizing: border-box;
    margin:  20px 0 80px;
}

#galeria > h2 {
    font-size: 5vh;
    text-align: left;
    background-color: var(--blanco-primario);
    width: 78vw;
    margin: 1.5vh 1vw;
    border-bottom: 1px solid var(--gris-fondos);
}

/* CURSOS: Contenedor de las cajas */
#cursos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5%;
    justify-content: space-evenly;
    align-content: space-evenly;
    margin-bottom: 10px;
}

/* Cajas: Contenedores de información principal */

.caja {
    width: 27%;
    box-sizing: border-box;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-content: center;
    background-color: var(--azul-medio);
    border-radius: 2%;
    border: 1px solid var(--gris-fondos);
    margin: 1.75% 0%;
    box-shadow: 0px 6px 29px 1px rgba(0,0,0,0.57);
    transition: all 1s;
}

.caja:hover {
    position: relative;
    top: -5px;
    box-shadow: 0px 6px 29px 1px rgba(120, 142, 223, 0.9);
}

.imagen-caja {
    width: 100%;
    height: 200px;
    border-radius: 2% 2% 0 0;
}

/* INFORMACIÓN: Contiene al título del curso, la descripción y el botón de enviado */

.informacion {
    flex-grow: 1;
    margin: 0;
    padding: 0px 10px 10px;
    border-radius: 0 0 2% 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--azul-medio);
}

.titulo-caja {
    background-color: transparent;
    color: var(--azul-oscuro);
    text-align: center;
    margin: 10px 10px 5px;
    font-size: 25px;
}

.descripcion {
    background-color: transparent;
    color: var(--azul-oscuro);
    padding: 5px 10px;
    text-align: center;
    flex-grow: 1;
}

.btn-caja {
    color:var(--azul-oscuro);
    background-color: var(--verde-lima);
    border-radius: 5px;
    padding: 15px 25px;
    margin: 10px;
    font-size: 1.15em;
    text-decoration: none;
    text-align: center;
    /* align-self: center; */
    box-shadow: 2px 5px 16px 0px #0B325E, 0px 6px 39px 1px rgba(0,0,0,0);
    transition: all 0.3s;
}

.btn-caja:hover {
    scale: 1.15;
    color: var(--verde-lima);
    background-color: var(--azul-oscuro);
}

/* TABLET - IPAD: Adaptaciones al tamaño mediano */
@media screen and (min-width:481px) and (max-width:768px) {    
    .caja {
        width: 47%;
    }

    .anuncios h3 {
        font-size: 4.6vh;
    }

    .anuncios .btn {
        font-size: 2.5vh;
    }
}

/* COMPUTADORA: Adaptaciones al diseño grande */
@media screen and (min-width:769px) {
    .caja {
        width: 31%;
    }
}

/* CELULAR: Adaptaciones necesarias para el tamaño más pequeño */
@media screen and (max-width:480px) {
    .caja {
        width:100%;
        margin: 20px 0px;
    }

    .descripcion {
        display: none;
    }

    .anuncios h3 {
        font-size: 4.2vh;
    }

    .anuncios .btn {
        font-size: 2.5vh;
    }

    #galeria > h2 {
        font-size: 4vh;
    }
}