/*
Hoja de estilo base para todas las páginas y para la página de inicio
*/

/*FUENTES DE GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/*
VARIABLES PARA LOS COLORES
*/
:root {
    --blanco-primario: #f4f0e3;
    --blanco-secundario: #ECECE5;
    --azul-oscuro: #232945;
    --azul-medio: rgb(146, 179, 210); 
    --azul-encendido: #20348d;
    --verde-lima: #d1d871;
    --gris-fondos: #C7C3AF;
}

/*ESTILO BASE PARA TODAS LAS PAGINAS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: oswald, sans-serif;
    background-color: var(--blanco-primario);
    color: var(--azul-oscuro);
}

p,li,input{
    font-family: montserrat, sans-serif;
    color: var(--blanco-primario);
}

header{

    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: all 0.5s ease;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer{
    width:100%;
    height:20vh;
    background-color: var(--azul-oscuro);
    padding: 1vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

footer p{
    background: var(--azul-oscuro);
}

article{
background: #F4F0E3;
background: linear-gradient(0deg, rgba(244, 240, 227, 1) 59%, rgba(199, 195, 175, 1) 100%);
}

/*ESTILO GENERAL LANDING*/
section.logo{
    background: no-repeat url('../img/neomodernArchitecture.jpg') center 35%/cover;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    position: relative; 
    overflow: hidden;
    padding: 20px 0 20px;
}

section.logo::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(236, 236, 229, 0.7) ; 
    z-index: 1;
}

.logo h1, .logo h2, .logo img{
    background: none;
    position: relative;
    z-index: 2;
    text-shadow: rgba(255, 255, 255, 0.8);
}
.landing .btn, input[type="submit"]{
    background: var(--verde-lima);
    margin: 20px auto 0;
    text-align: center;
    display: block;
    text-decoration: none;
    font-weight: 600;
    border-radius: 10px;
    color: var(--azul-oscuro);
    box-shadow: 0px 0px 50px -15px var(--azul-medio);
    transition: all 0.3s ease;
}

.landing .btn:hover, input[type="submit"]:hover{
    color: var(--verde-lima);
    transform: translateY(-2px);
    background: var(--azul-oscuro);

}



.info{
    color: var(--azul-oscuro);
    text-align: center;
    margin: 20px 15px;
    border: inset 3px var(--azul-oscuro);
    border-radius: 10px;
    background-color: rgba(146, 179, 210, 0.2);
    box-shadow: 0px 0px 15px var(--azul-oscuro);
    display: flex;
}


/*MOVILES*/
@media screen and (max-width: 480px){
    header{
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0 30px;

    }

h2{
    font-size:1.2rem;
    text-align: center;
}

article{
background: none;
}

#logo{
    width: 20%;
    min-width: 100px;
    display: block;
}
.logo{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 10px 0;
}

.logo h1{
    font-size: 3rem;
}

.landing .logo h2{
    margin-top:20px;
    font-size: 2rem;
    text-align: center;
}

.landing h2{
    text-align: center;
    font-size: 1.2rem;
}

.landing:first-child .info{
    padding: 5px 8px;
}

.landing:nth-child(2){
    padding: 5px 0;
}

.landing:nth-child(2) p{
    color: var(--azul-oscuro);
    text-align: center;
    margin: 20px auto;
    width: 95%;
}

.landing:nth-child(2) img{
    display: block;
    margin: 20px auto;
    width: 95%;

}
.landing .btn{
    font-size: larger;
    width: 220px;
    height: 30px;
}

.landing:nth-child(3){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing:nth-child(3) .imgDesc{
    width: 95%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70vw;
    border-left: none;
    border-color: var(--verde-lima);
}


.imgDesc h3{
    background-color: var(--blanco-primario);
    height: 70vw;
    writing-mode: vertical-rl;
    padding: 0 10px 0;
    margin: 0;
    border-radius: 10px 0 0 10px;
    border: inset 3px var(--verde-lima);
    box-shadow: 3px 0px 5px var(--azul-oscuro);
    text-shadow: 0 0 3px var(--gris-fondos);
}

.imgDesc{
    color: var(--azul-oscuro);
    text-align: center;
    margin: 20px 10px;
    padding: 5px 0px;
    border: inset 3px var(--azul-oscuro);
    border-radius: 10px;
    background-color: rgba(146, 179, 210, 0.2);
    box-shadow: 0px 0px 15px var(--azul-oscuro);
    display: flex;
}
.imgDesc .info, .imgDesc h3{
    color: var(--azul-oscuro);
    font-size: 1rem;

}

.imgDesc .info{
    background: none;
    border: none;
    box-shadow: none;
}

.landing:nth-child(4){
    margin: 40px auto;
}



.landing:nth-child(5){
    margin: 40px auto;
}

#equipo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
#equipo .miembro{
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#equipo .miembro img{
    width: 80%;
    border-radius: 100px;
}

#equipo .miembro h4{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.landing:last-child{
    margin-bottom: 20px;
}

.landing:last-child .info{
    padding: 5px 8px;
}

footer p{
    font-size: 10px;
}



}

/*TABLETS*/
@media screen and (min-width: 481px) and (max-width: 768px){
#logo{
    width: 30%;
    min-width: 200px;
    display: block;
}
.logo{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 10px 0;
}

.logo h1{
    font-size: 6rem;
}

.landing .logo h2{
    margin-top:20px;
    font-size: 2.2rem;
    text-align: center;
}

.landing h2{
    text-align: center;
    font-size: 2rem;
}

.landing:first-child .info{
    padding: 10px 15px;
    width: 80%;
    margin: 30px auto 20px;
}

.landing:nth-child(2){
    padding: 5px 0;
}

.landing:nth-child(2) p{
    color: var(--azul-oscuro);
    text-align: center;
    margin: 20px auto;
    width: 80%;
}

.landing:nth-child(2) img{
    display: block;
    margin: 20px auto;
    width: 80%;

}
.landing .btn{
    font-size: larger;
    width: 220px;
    height: 30px;
    
}

.landing:nth-child(3){
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.landing:nth-child(3) .imgDesc{
    width: 80%;
    min-height: auto;
}
.imgDesc h3{
    background: none;

}

.imgDesc .info{
    width: 100%;
    margin: 20px auto;
    padding: 5px 8px 5px 100px;
    min-height: 96px;
    align-items: center;
}


.imgDesc:first-child .info{
    background-image: url(../bootstrap/icons/pc-display-horizontal.svg);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 80px;
}

.imgDesc:nth-child(2) .info{
    background-image: url(../bootstrap/icons/shop.svg);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 80px;
}

.imgDesc:last-child .info{
    background-image: url(../bootstrap/icons/person-workspace.svg);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 80px;
}

.landing:nth-child(4){
    margin: 40px auto;
}



.landing:nth-child(5){
    margin: 40px auto;
}

#equipo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
}
#equipo .miembro{
    width: 45%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#equipo .miembro img{
    width: 80%;
    border-radius: 50px;
}

#equipo .miembro h4{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.landing:last-child {
    margin-bottom: 20px;
}

.landing:last-child .info{
    padding: 5px 8px;
    width:90%;
    margin: 30px auto 20px;
}
}

/*PC*/
@media screen and (min-width: 769px){

    
article{
margin-top: 12vh;
}

#logo{
    width: 30%;
    min-width: 200px;
    display: block;
}
.logo{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 10px 0;
    margin: 10px auto 50px;
}

.logo h1{
    font-size: 10rem;
}

.landing .logo h2{
    margin-top:20px;
    font-size: 3rem;
    text-align: center;
}


.landing h2{
    text-align: center;
    font-size: 2.5rem;
}

.info{
    font-size: 1.3rem;
}
.landing .btn{
    font-size: 1.3rem;
    height: 40px;
    width: 250px;
}
.landing .btn:hover{
    font-size: 1.25rem;
    
}

.landing:first-child .info{
    padding: 20px 30px;
    width: 60%;
    margin: 40px auto 25px;
}


.landing:nth-child(2){
    padding: 40px 0;
}
.landing:nth-child(2) p{
    color: var(--azul-oscuro);
    margin: 0 auto;
    text-align: center;
    width: 80%;
    font-size: 1.2rem;
}

.landing:nth-child(2) img{
    display: block;
    margin: 30px auto;
    width: 80%;

}

.landing:nth-child(3){
    display: flex;

}

.landing:nth-child(3) .imgDesc{
    width: 32.33%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-top: none;
    border-color: var(--verde-lima);
}


.imgDesc h3{
    background-color: var(--blanco-primario);
    padding: 15px 0 10px 30px;
    width: 100%;
    margin: 0;
    border-radius: 10px 10px 0 0;
    border: inset 3px var(--verde-lima);
    box-shadow: 3px 0px 5px var(--azul-oscuro);
    text-shadow: 0 0 3px var(--gris-fondos); 
}

.imgDesc:first-child h3{
    background-image: url('../bootstrap/icons/pc-display-horizontal.svg');
    background-repeat: no-repeat;
    background-position: 80px center;
    background-size: 45px;
}

.imgDesc:nth-child(2) h3{
    background-image: url('../bootstrap/icons/shop.svg');
    background-repeat: no-repeat;
    background-position: 80px center;
    background-size: 45px;
}

.imgDesc:last-child h3{
    background-image: url('../bootstrap/icons/person-workspace.svg');
    background-repeat: no-repeat;
    background-position: 80px center;
    background-size: 45px;
}

.imgDesc{
    color: var(--azul-oscuro);
    text-align: center;
    margin: 20px 10px;
    padding: 0px auto 5px;
    border: inset 3px var(--azul-oscuro);
    border-radius: 10px;
    background-color: rgba(146, 179, 210, 0.2);
    display: flex;
    transition: all 0.3s ease;
}


.imgDesc:hover{
    box-shadow: 0px 0px 15px var(--azul-oscuro);
}

.imgDesc:hover h3{
    box-shadow: 3px 0px 15px var(--azul-oscuro); ;
}

.imgDesc .info, .imgDesc h3{
    color: var(--azul-oscuro);
    font-size: 1rem;
    text-align: center;

}

.imgDesc .info{
    background: none;
    border: none;
    box-shadow: none;
}

.landing:nth-child(4){
    margin: 100px auto;
    position: relative;
}
.landing:nth-child(4) .btn{
    margin: 40px auto;
}

.landing:nth-child(5){
    margin: 40px auto;
}

#equipo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#equipo .miembro{
    width: 20%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#equipo .miembro img{
    width: 80%;
    border-radius: 50px;
    margin: 0 auto;
}

#equipo .miembro h4{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.landing:last-child{
    margin-bottom: 50px;
}

.landing:last-child .info{
    padding: 20px 30px;
    width: 60%;
    margin: 40px auto 25px;
}

}



