/*Importar fuentes de Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --blanco-primario: #f4f0e3;
    --blanco-secundario: #ECECE5;
    --azul-oscuro: #232945;
    --azul-medio: #92B3D2; 
    --azul-encendido: #20348d;
    --verde-lima: #d1d871;
    --gris-fondos: #C7C3AF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: oswald, sans-serif;
    background-color: var(--blanco-primario);
    color: var(--azul-oscuro);
}

p,li,input{
    font-family: montserrat, sans-serif;
    color: var(--blanco-primario);
}

header{
    width:100%;
    height:15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    position: fixed;
    top: 0;
    z-index: 100;
    border-bottom: solid 2px var(--gris-fondos);
}

article{
margin-top: 15vh;
padding: 100px;
background: #F4F0E3;
background: linear-gradient(0deg, rgba(244, 240, 227, 1) 59%, rgba(199, 195, 175, 1) 100%);
}

/*Moviles*/
@media screen and (max-width: 480px){
    
}

/*Tablets*/
@media screen and (min-width: 481px) and (max-width: 768px){

}

/*PC*/
@media screen and (min-width: 769px){

}
