/*Importar fuentes de Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --blanco-primario: #f4f0e3;
    --blanco-secundario: #ECECE5;
    --azul-oscuro: #232945;
    --azul-medio: #92B3D2; 
    --azul-encendido: #20348d;
    --verde-lima: #d1d871;
    --gris-fondos: #C7C3AF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: oswald, sans-serif;
    background-color: var(--blanco-primario);
    color: var(--azul-oscuro);
}

p,li,input{
    font-family: montserrat, sans-serif;
    color: var(--blanco-primario);
}

header{
    width:100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
}

footer{
    width:100%;
    height:15vh;
    background-color: var(--azul-oscuro);
    padding: 1.5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: space-evenly;
    align-items: center;
}

footer p{
    background: var(--azul-oscuro);
}

article{
padding: 100px;
background: #F4F0E3;
background: linear-gradient(0deg, rgba(244, 240, 227, 1) 59%, rgba(199, 195, 175, 1) 100%);
}

.landing .btn{
    background: var(--verde-lima);
    margin: 20px auto 0;
    text-align: center;
    display: block;
    text-decoration: none;
    font-weight: 600;
    border-radius: 10px;
    
}

.landing .btn:hover{
    color: var(--azul-encendido);
    font-size: large;

}

.info{
    background: var(--azul-oscuro);
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}



/*Moviles*/
@media screen and (max-width: 480px){
     header{
        justify-content: space-between;
        padding: 0 30px;
        height: 13vh;
        padding: 3% 3% 0 3% ;

    }
    article{
    margin-top: 13vh;
    }

#logo{
    width: 30%;
    min-width: 200px;
    display: block;
}
.logo{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 10px 0;
}

.logo h1{
    font-size: 6rem;
}

.landing .logo h2{
    margin-top:20px;
    font-size: 2.2rem;
    text-align: center;
}

.landing h2{
    text-align: center;
    font-size: 2rem;
}

.landing:nth-child(2){
    padding: 10px 0;
}

.landing:nth-child(2) p{
    color: var(--azul-oscuro);
    text-align: center;
    margin: 20px auto;
    width: 80%;
}

.landing:nth-child(2) img{
    display: block;
    margin: 20px auto;
    width: 80%;

}
.landing .btn{
    font-size: larger;
    width: 220px;
    height: 30px;
}

.landing:nth-child(3){
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.landing:nth-child(3) .imgDesc{
    width: 60%;
    
}
.imgDesc h3{
    text-align: center;
    margin-top: 20px;
}

.landing:nth-child(4){
    margin: 40px auto;
}



.landing:nth-child(5){
    margin: 40px auto;
}

#equipo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#equipo .miembro{
    width: 45%;
    margin: 10px auto;
}

#equipo .miembro img{
    width: 80%;
    border-radius: 50px;
}

#equipo .miembro h4{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
}

/*Tablets*/
@media screen and (min-width: 481px) and (max-width: 768px){
    header{
        justify-content: space-between;
        padding: 0 30px;
        height: 13vh;
        padding: 3% 3% 0 3% ;

    }
    article{
    margin-top: 13vh;
    }

#logo{
    width: 30%;
    min-width: 200px;
    display: block;
}
.logo{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 10px 0;
}

.logo h1{
    font-size: 6rem;
}

.landing .logo h2{
    margin-top:20px;
    font-size: 2.2rem;
    text-align: center;
}

.landing h2{
    text-align: center;
    font-size: 2rem;
}

.landing:nth-child(2){
    padding: 10px 0;
}

.landing:nth-child(2) p{
    color: var(--azul-oscuro);
    text-align: center;
    margin: 20px auto;
    width: 80%;
}

.landing:nth-child(2) img{
    display: block;
    margin: 20px auto;
    width: 80%;

}
.landing .btn{
    font-size: larger;
    width: 220px;
    height: 30px;
}

.landing:nth-child(3){
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.landing:nth-child(3) .imgDesc{
    width: 60%;
    
}
.imgDesc h3{
    text-align: center;
    margin-top: 20px;
}

.landing:nth-child(4){
    margin: 40px auto;
}



.landing:nth-child(5){
    margin: 40px auto;
}

#equipo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#equipo .miembro{
    width: 45%;
    margin: 10px auto;
}

#equipo .miembro img{
    width: 80%;
    border-radius: 50px;
}

#equipo .miembro h4{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}




}

/*PC*/
@media screen and (min-width: 769px){
    header{
        justify-content: space-between;
        height:15vh;
        border-bottom: solid 2px var(--gris-fondos);
        padding: 3%;
    }
    
article{
margin-top: 15vh;
}

#logo{
    width: 30%;
    min-width: 200px;
    display: block;
}
.logo{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 10px 0;
    margin: 10px auto 50px;
}

.logo h1{
    font-size: 10rem;
}

.landing .logo h2{
    margin-top:20px;
    font-size: 3rem;
    text-align: center;
}


.landing h2{
    text-align: center;
    font-size: 2.5rem;
}

.info{
    font-size: 1.3rem;
}
.landing .btn{
    font-size: 1.3rem;
    height: 40px;
    width: 250px;
}
.landing .btn:hover{
    font-size: 1.25rem;
    
}
.landing:nth-child(2){
    padding: 40px 0;
}
.landing:nth-child(2) p{
    color: var(--azul-oscuro);
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

.landing:nth-child(2) img{
    display: block;
    margin: 30px auto;
    width: 80%;

}

.landing:nth-child(3){
    display: flex;

}

.landing:nth-child(3) .imgDesc{
    width: 32.33%; 
}

.landing:nth-child(3) .imgDesc h3{
    text-align: center;
    margin: 40px auto 20px;
    font-size: 1.5rem;
}

.landing:nth-child(3) .imgDesc .info{
    max-height: 300px;
    overflow: hidden;
}

.landing:nth-child(4){
    margin: 40px auto;
}
.landing:nth-child(4) .btn{
    margin: 40px auto;
}

.landing:nth-child(5){
    margin: 40px auto;
}

#equipo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#equipo .miembro{
    width: 20%;
    margin: 10px auto;
}

#equipo .miembro img{
    width: 80%;
    border-radius: 50px;
}

#equipo .miembro h4{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
}



