header img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: block;
    margin-right: 10px;
}
#inicio{
    font-size: 5vh;
    font-weight: bold;
}

header input{
    display: none;
}

header nav ul a{
    transition: all 0.3s ;
}

/*Moviles*/
@media screen and (max-width: 480px){
    header a{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

    
    header nav ul{
        position:absolute;
        font-size: larger;
        font-weight: bold;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        list-style: none;
        width: 150px;
        height: 100vh;
        width: 220px;
        top: 13vh;
        left: -500px;
    }

    header nav ul a{
        height: 70px;
    }

    #inicio{
        position: absolute;
        height: 100px;
        width: 220px;
        left: -500px;
    }
header label:hover, nav ul a:hover, #inicio:hover{
    color: var(--azul-encendido);
}

header nav ul a:hover{
    margin-left: 10px;
}

#btnMostrar, #btnOcultar{
    position: absolute;
    cursor: pointer;
    background-color: var(--blanco-primario);
    border-radius: 5px;
}

#checkMenu{
    display: none;
}

#btnMostrar{
    position: absolute;;
    left: 20px;
    top: 8px;
    font-size: 35px;
    color: var(--azul-oscuro);
    padding: 6px 12px;
}

#btnOcultar{
    position: absolute;
   left: -200px;
    top: 8px;
    font-size: 30px;
    color: var(--azul-oscuro);
    padding: 4px 9px;
     transition: all 0.5s ease;
}

#checkMenu:checked ~ nav ul, #checkMenu:checked ~ #inicio{
    left: -20px;
}

#checkMenu:checked ~ .labelBotonMenu #btnOcultar{
    left: 200px;
}
}

/*Tablets*/
@media screen and (min-width: 481px) and (max-width: 768px){

    header a{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

    
    header nav ul{
        position:absolute;
        font-size: larger;
        font-weight: bold;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        list-style: none;
        width: 150px;
        height: 100vh;
        width: 220px;
        top: 13vh;
        left: -500px;
    }

    header nav ul a{
        height: 70px;
    }

    #inicio{
        position: absolute;
        height: 100px;
        width: 220px;
        left: -500px;
    }
header label:hover, nav ul a:hover, #inicio:hover{
    color: var(--azul-encendido);
}

header nav ul a:hover{
    margin-left: 10px;
}

#btnMostrar, #btnOcultar{
    position: absolute;
    cursor: pointer;
    background-color: var(--blanco-primario);
    border-radius: 5px;
}

#checkMenu{
    display: none;
}

#btnMostrar{
    position: absolute;;
    left: 20px;
    top: 8px;
    font-size: 35px;
    color: var(--azul-oscuro);
    padding: 6px 12px;
}

#btnOcultar{
    position: absolute;
   left: -200px;
    top: 8px;
    font-size: 30px;
    color: var(--azul-oscuro);
    padding: 4px 9px;
     transition: all 0.5s ease;
}

#checkMenu:checked ~ nav ul, #checkMenu:checked ~ #inicio{
    left: -20px;
}

#checkMenu:checked ~ .labelBotonMenu #btnOcultar{
    left: 200px;
}

}

/*PC*/
@media screen and (min-width: 769px){
header label{
    display: none;
}

nav {
    width: 75%;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
    gap: 1%;
    
}

a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--azul-oscuro);
}

nav ul a{
    background: var(--verde-lima);
    padding: 1% 1vw;
    border-radius: 30px;
    font-size: 16px;
    transition: all 0.3s ease;
    
}

nav ul a:hover{
    padding: 2% 0.5vw;
    color: var(--azul-encendido);
}

nav ul a:nth-child(6){
    background: var(--blanco-primario);
    border-left: solid 2px var(--gris-fondos);
    border-radius: 0;
    transition: all 0.3s ease;
}

nav ul a:hover{
    padding: 2% 1vw;
    color: var(--azul-encendido);
}

}


