
header img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: block;
    margin-right: 10px;
}


header input, header label{
    display: none;
}

header > a{
    font-size: 5vh;
    font-weight: bold;
}

nav {
    width: 75%;
}


nav ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
    gap: 1%;
    
}

a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--azul-oscuro);
}

nav ul a{
    background: var(--verde-lima);
    padding: 1% 1vw;
    border-radius: 30px;
    font-size: 16px;
    transition: all 0.3s ease;
    
}

nav ul a:hover{
    padding: 2% 0.5vw;
    color: #20348d;
}

nav ul a:nth-child(6){
    background: var(--blanco-primario);
    border-left: solid 2px var(--gris-fondos);
    border-radius: 0;
    transition: all 0.3s ease;
}

nav ul a:hover{
    padding: 2% 1vw;
    color: #20348d;
}




