@import url("../css/menu.css");
@import url("../css/main.css");

:root {
    --blanco-primario: #F4F0E3;
    --azul-oscuro: #232945;
    --verde-lima: #C6E369;
    --azul-medio: #92B3D2;
}

/* CUERPO */
body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* TEMPORAL - MENÚ */
header {
    width: 25%;
    position: absolute;
    left: -25%;
}

header img {
    max-width: 25%;
}

/* CONTENIDO: Agrupa toda la página luego del nav */

#contenido {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    width:100%;
}

/* TITULO DE LA PÁGINA */

#titulo-pagina {
    font-size: 3rem;
    align-self: flex-start;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 0.5%;
}

/* ANUNCIOS: Encabezado de página que muestra avisos */
#anuncios {
    border: solid 1px var(--azul-medio);
    border-radius: 15px;
    display: block;
    width: 80%;
    justify-content: center;
}

#fondo-imagen {
    margin: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgba(35, 41, 69, 0.7) 30%, rgba(29, 36, 68, 0.9) 70%), url("../img/anuncios.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}

#anuncios .encabezado {
    background: none;
    font-size: 50px;
    text-align: center;
    color: var(--azul-medio);
}

#anuncios .boton {
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    margin: 20px;
    padding: 8px 25px 13px;
    font-size: 1.4em;
    background-color: var(--verde-lima);
    border-radius: 10px;
    box-shadow: 2px 5px 16px 0px #0B325E, 0px 6px 39px 1px rgba(0,0,0,0);
}

#anuncios .boton:hover {
    scale: 1.15;
    color: var(--verde-lima);
    background-color: var(--azul-oscuro);
}

/* CURSOS: Sección que contendrá la galeria de cursos y el título */

#cursos {
    width: 80%;
    margin: 10px 0px 20vh;
}

#cursos .encabezado {
    font-size: 2em;
    margin-bottom: 2%;
    border-bottom: solid 1px var(--azul-medio);
}

/* TARJETAS: Contiene a cada una de las tarjetas de cursos */

#tarjetas {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-start;
    gap: 40px;
}

#tarjetas .tarjeta {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--azul-medio);
    height: 30vh;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid var(--azul-medio);
    border-radius: 5px;
    box-shadow: 0px 6px 29px 1px rgba(0,0,0,0.2);
    transition: all 0.4s;
}

#tarjetas .tarjeta:hover {
    box-shadow: 0px 6px 29px 1px rgba(120, 142, 223, 0.9);
    position: relative;
    left: 10px;
}

/* CONTENIDO DE LA TARJETA: Incluye el contenido dentro de la tarjeta */

.imagen-curso {
    width: 20%;
    height: 30vh;
}

.contenido-tarjeta {
    width: 80%;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 2%;
    background-color: transparent;
    box-sizing: border-box;
    gap: 10px;
}

.titulo-curso {
    align-self: stretch;
    background-color: transparent;
    font-size: 1.4em;
    padding-right: 5%;
}

.descripcion {
    background-color: transparent;
    color: var(--azul-oscuro);
    padding-right: 5%;
}

/* FOOTER-CURSO: Contiene los elementos del porcentaje y botón de una tarjeta de curso */

.footer-curso {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 5%;
    background-color: transparent;
    box-sizing: border-box;
}

.porcentaje {
    background-color: transparent;
    font-size: 2em;
    font-style: italic;
    color: var(--azul-oscuro);
    font-weight: bold;
}

.footer-curso .boton {
    background-color: var(--verde-lima);
    padding: 10px 20px;
    font-size: 1.15em;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 1px 5px 8px 0px rgba(11, 50, 94, 0.5), 0px 6px 39px 1px rgba(0,0,0,0.1);
}

.footer-curso .boton:hover {
    scale: 1.10;
    color: var(--verde-lima);
    background-color: var(--azul-oscuro);
}
