@import url("../css/menu.css");
@import url("../css/main.css");

/* CUERPO */
main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* CONTENIDO: Agrupa toda la página luego del nav */

#contenido {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    width:100%;
}

/* TITULO DE LA PÁGINA */

#titulo-pagina {
    font-size: 3rem;
    align-self: flex-start;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 0.5%;
}

/* ANUNCIOS: Encabezado de página que muestra avisos */
#anuncios {
    border: solid 1px var(--gris-fondos);
    border-radius: 15px;
    display: block;
    width: 80%;
    justify-content: center;
}

#fondo-imagen {
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgba(35, 41, 69, 0.7) 30%, rgba(29, 36, 68, 0.9) 70%), url("../img/anuncios.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}

#anuncios .encabezado {
    background: none;
    font-size: 8vh;
    text-align: center;
    color: var(--azul-medio);
}

#anuncios .boton {
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    margin: 20px;
    padding: 8px 25px 13px;
    font-size: 1.4em;
    background-color: var(--verde-lima);
    border-radius: 10px;
    box-shadow: 2px 5px 16px 0px #0B325E, 0px 6px 39px 1px rgba(0,0,0,0);
}

#anuncios .boton:hover {
    scale: 1.15;
    color: var(--verde-lima);
    background-color: var(--azul-oscuro);
}

/* CURSOS: Sección que contendrá la galeria de cursos y el título */

#cursos {
    width: 80%;
    margin: 10px 0px 10vh;
}

#cursos .encabezado {
    font-size: 2em;
    margin-bottom: 2%;
    border-bottom: solid 1px var(--gris-fondos);
}

/* TARJETAS: Contiene a cada una de las tarjetas de cursos */

#tarjetas {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 20px;
}

#tarjetas .tarjeta {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: var(--azul-medio);
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid var(--gris-fondos);
    border-radius: 5px;
    box-shadow: 0px 6px 29px 1px rgba(0,0,0,0.2);
    transition: all 0.4s;
    margin: 0px;
    padding: 0px;
}

#tarjetas .tarjeta:hover {
    box-shadow: 0px 6px 29px 1px rgba(120, 142, 223, 0.9);
    position: relative;
    left: 10px;
}

/* CONTENIDO DE LA TARJETA: Incluye el contenido dentro de la tarjeta */

.imagen-curso {
    height: auto;
    align-self: stretch;
}

.contenido-tarjeta {
    width: 70%;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 2%;
    background-color: transparent;
    box-sizing: border-box;
    gap: 20px;
    margin: 2% 0;
}

.titulo-curso {
    align-self: stretch;
    background-color: transparent;
    font-size: 1.4em;
    padding-right: 5%;
    color: var(--azul-oscuro)
}

.descripcion {
    background-color: transparent;
    color: var(--azul-oscuro);
    padding-right: 5%;
}

/* FOOTER-CURSO: Contiene los elementos del porcentaje y botón de una tarjeta de curso */

.footer-curso {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 5%;
    background-color: transparent;
    box-sizing: border-box;
}

.porcentaje {
    background-color: transparent;
    font-size: 2em;
    font-style: italic;
    color: var(--azul-encendido);
    font-weight: bold;
}

.footer-curso .boton {
    background-color: var(--verde-lima);
    padding: 10px 20px;
    font-size: 1.15em;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 1px 5px 8px 0px rgba(11, 50, 94, 0.5), 0px 6px 39px 1px rgba(0,0,0,0.1);
}

.footer-curso .boton:hover {
    scale: 1.10;
    color: var(--verde-lima);
    background-color: var(--azul-oscuro);
}

/* CELULAR: Adaptaciones para la pantalla más pequeña */
@media screen and (max-width: 480px) {
    #anuncios .encabezado {
        font-size: 6vh;
    }

    #tarjetas .tarjeta {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 0 0 1vh;
    }

    .imagen-curso {
        width: 100%;
    }

    .contenido-tarjeta {
        align-items: center;
        width: 100%;
        padding: 1.2vh;
    }

    .titulo-curso {
        text-align: center;
        padding: 0;
    }

    .descripcion {
        display: none;
    }

    .footer-curso {
        flex-direction: column;
        gap: 1vh;
        padding: 0;
    }
}

/* TABLET: Ajustes para pantalla mediana */
@media screen and (min-width:481px) and (max-width:768px) {
    .imagen-curso {
        width: 40%;
    }

    .descripcion {
        display: none;
    }

    .titulo-curso {
        font-size: 1.75em;
    }
}

/* COMPUTADORA: Ajustes para pantalla grande */
@media screen and (min-width: 769px) {
    .imagen-curso {
        width: 30%;
    }
}