/* 1. Estilos base para móviles (menos de 576px) */
.contenedor {
    width: 100%;
    display: flex;
    flex-flow: row wrap-reverse;
}

article#curso-detalles{
    padding: 0;
    margin: 0 5% 5%;
}

article#curso-detalles section{
    padding-top: 5%;
}

p#curso-descripcion{
    color: var(--azul-oscuro);
    line-height: 1.2rem;
}

section#curso-aprendizajes li{
    display: inline-flex;
    flex-flow: row wrap;
}

ul#curso-aprendizajes-lista i{
    width: 25px;
    height: auto;
    margin-right: 0;
}

aside#curso-barra-lateral{
    margin-top: 15vh;
    padding: 5%;
    width: 100%;
}

aside#curso-barra-lateral li{
    color: var(--azul-oscuro);
    margin-left: 5%;
}

section#curso-prerrequisitos li{
    color: var(--azul-oscuro);
    margin-left: 5%;
}

details.dropdown-elemento li{
    color: var(--azul-oscuro);
    margin-left: 5%;
}

#btnInscribirse {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: var(--azul-oscuro);
    background: var(--verde-lima);
    padding: 0.5rem 1.5rem;
    margin-top: 10px;
    border-radius: 30px;
    font-size: 18px;
    box-shadow: 0px 0px 50px -15px var(--azul-medio);
    transition: all 0.3s ease;
}

#btnInscribirse:hover {
    background-color:var(--azul-oscuro);
    transform: translateY(-2px);
    color: var(--verde-lima);
}

/*Tablets*/
@media screen and (min-width: 481px) and (max-width: 768px){
	.contenedor {
		padding: 0 5%;
	}

	aside#curso-barra-lateral {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
}

/*PC*/
@media screen and (min-width: 769px){
	.contenedor {
		flex-flow: row nowrap;
		align-items: flex-start;
		gap: 2rem;
		padding: 0 5%;
	}

	article#curso-detalles {
		flex: 2;
		margin: 15vh 0 5%;
	}

    #curso-aprendizajes-lista{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

	aside#curso-barra-lateral {
		flex: 1;
		position: sticky;
		top: 18vh;
		margin-top: 18vh;
		padding: 2rem;
		border: 1px solid var(--gris-fondos);
		border-radius: 8px;
	}
}
