/* 1. Estilos base para móviles (menos de 576px) */
.contenedor {
    width: 100%;
    display: flex;
    flex-flow: row wrap-reverse;
}

article#curso-detalles{
    padding: 0;
    margin: 0 5% 5%;
}

p#curso-descripcion{
    color: var(--azul-oscuro);
}

section#curso-aprendizajes li{
    display: flex;
    flex-flow: row wrap;
}

ul#curso-aprendizajes-lista svg{
    width: 25px;
    height: auto;
    margin-right: 4px;
}

aside#curso-barra-lateral{
    margin-top: 15vh;
    padding: 5%;
    width: 100%;
}

aside#curso-barra-lateral li{
    color: var(--azul-oscuro);
    margin-left: 5%;
}

section#curso-prerrequisitos li{
    color: var(--azul-oscuro);
    margin-left: 5%;
}

details.dropdown-elemento li{
    color: var(--azul-oscuro);
    margin-left: 5%;
}

#btnInscribirse{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: var(--azul-oscuro);
    background: var(--verde-lima);
    padding: 1% 5vw 2%;
    margin-top: 10px;
    border-radius: 20px;
    font-size: 20px;
    transition: all 0.3s ease;
}

#btnInscribirse:hover{
    padding: 2% 5vw 3%;
    color: var(--azul-encendido);
}

/*Tablets*/
@media screen and (min-width: 481px) and (max-width: 768px){

}

/*PC*/
@media screen and (min-width: 769px){

}
