/* Importación de los estilos generales */
@import url("../css/menu.css");
@import url("../css/main.css");

/*Moviles*/
/* CONTENIDO: Contenedor principal con las secciones y el pie de página*/
main {
    position: relative;
    top: 15vh;
}

/* Solo presente en la versión tablet o PC*/
#barra-lateral {
    display: none;
}

/*  PEFIL */
#perfil-movil {
    text-align: center;
    padding: 20px 0px;
}

#perfil-movil img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    display: block;
    margin: 0 auto;

}

/* SECCIONES DE INFORMACIÓN */
#informacion-principal article {
    width: 90%;
    padding: 30px 20px;
    margin: 20px auto;
    background: none;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid var(--gris-fondos);

}

#informacion-principal article h1 {
    padding-bottom: 20px;
    font-size: 1.5em;

}

/* Estilo herdedado que se buscan personalziar */
#informacion-principal h1,
h3,
h5,
h4 {
    background-color: transparent;
}

/* DATOS EN FILA DE CADA SECCIÓN DE INFORMACIÓN */

.fila {
    margin: 10px 0px;
    padding: 15px;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.fila i {
    color: var(--verde-lima);
    background-color: transparent;
    font-size: 2.5em;
    align-content: center;
}

.fila .campo {
    background-color: transparent;
    word-break: break-word;
}

.fila h3 {
    color: var(--azul-encendido);
}

.fila:first-of-type {
    border-radius: 20px 20px 0px 0px;
}

.fila:last-of-type {
    border-radius: 0px 0px 20px 20px;
}

.fila:hover {
    background-color: var(--gris-fondos);
}


/* DIPLOMAS */
#diplomas .fila {
    border-radius: 20px;
    text-align: center;
    display: block;
}

#diplomas img {
    width: 150px;
    height: auto;
    border-radius: 0px;
    margin: 20px auto;
}

#diplomas img:hover {
    transform: scale(1.07);
}

/*Tablets*/
@media screen and (min-width: 481px) and (max-width: 768px) {


    #diplomas .fila {
        display: flex;
        align-items: center;
    }
}

/*PC*/
@media screen and (min-width: 769px) {

    #perfil-movil {
        display: none;
    }
    /* Ajusta el scroll al espacio del menu superior*/
    main   {
        top: 17vh;
    }

    html {
    scroll-padding-top: 16vh; 
}

    /* CONTENIDO: contiene a la barra lateral y la información del perfil*/
    #contenido {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 100%;
        height: 100vh;
    }

    /* BARRA LATERAL: contiene enlaces que direccionan  a las diferentes secciones */
    #barra-lateral {
        display: block;
        position: sticky;
        width: 25%;
        height: 100vh;
        overflow-y: auto;
    }

    #barra-lateral img {
        width: 150px;
        height: 150px;
        border-radius: 100px;
        display: block;
        margin: 0 auto;
        padding: 10px;
    }

    #barra-lateral a{
        padding: 20px;
        font-size: 1.3em;
    }

    #barra-lateral i {
        margin: 0 20px;
        color: var(--azul-encendido);
        
    }

    /* INFORMACIÓN PRINCIPAL: todo el contenido del perfil (espacio de la derecha)  */
    #informacion-principal {
        width: 65%;
        margin: 0 auto;
        overflow-y: auto;
        height: 100vh;
        /* Evita que se vea la barra de scroll en navegadores principales */
        -webkit-scrollbar { 
            display: none; } 
        scrollbar-width: none; 
        -ms-overflow-style: none;
    }

    /* CAMPOS: el campo y el valor se present en la misma línea*/
    .campo {
        display: flex;
        gap: 40px;
        align-items: center;
        width: 100%;
    
    }

    .campo h5 {
        display: block;
        width: 25%;
    }

    /* DIPLOMAS */
    #diplomas .fila {
        display: flex;
        align-items: center;
        width: 100%;
    }

    #diplomas img {
        width: 30%;
    }

}